.team {
  background-color: #f5f4fa;
}

.team__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__photos--description {
  display: flex;
  list-style: none;
  justify-content: space-between;

  .team__name {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__profession {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--links-text-color);
  }
}

.team__photos--background {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__icon-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.team__icon--item {
  fill: var(--icon-color);
  width: 44px;
  height: 44px;
  background-color: var(--white-item-color);
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    fill: var(--white-item-color);
    background-color: var(--hoover-color);
  }
}

.team__icon--item > use {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
